<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mq.org.smile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="mq.org.smile.SmileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mq.org.smile.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mq.org.smile.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="mq.org.smile.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mq.org.smile.LoginActivity" />
        </activity>
        <activity
            android:name="mq.org.smile.PlayActivity"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mq.org.smile.MainActivity" />
        </activity>
        <activity
            android:name="mq.org.smile.RecordActivity"
            android:label="@string/title_activity_record"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mq.org.smile.MainActivity" />
        </activity>
        <activity android:name="mq.org.smile.ProfileActivity" android:screenOrientation="portrait"  >
        </activity>
        <activity android:name="mq.org.smile.ResetPasswordActivity" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="mq.org.smile.ResetSubmitActivity" android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
